.DS_Store
*~*
*#*
*.pyc
*.png
.idea
*.iml

#ignore C compiled (or Cython compiled) files
*.o
*.so

#ignore profiler output files
*.prof

#exclude cfg files in any Params folders except the template folder
*/Params/*

#exception, to force Params folders to still be created
!*/Params/.gitkeep
