multiprocessing_logging
numpy
scipy
matplotlib
PyPDF2
lmfit

WaveCal summary plot:
Latex needs to be installed for the plot to work. It will still plot but the text will
not be formatted properly.
dvipng and Ghostscript > 8.60 need to be installed as well
https://matplotlib.org/users/usetex.html
