[Data]
# This section provides the location and description of the WaveCal data being processed.

# directory to the folder with the .h5 data (string)
directory = '/mnt/data0/nzobrist/WaveCalTesting/20171004'

# wavelengths in nanometers (list of numbers)
wavelengths = [808, 920, 980, 1120]

# file names in the same order as the wavelengths (list of strings)
file_names = ['1507178782.h5',
              '1507178945.h5',
              '1507179085.h5',
              '1507179172.h5']

[Fit]
# This section gives information about the fit of the phase histogram.

# the fitting function to be used (string)
model_name = 'gaussian_and_exp'

# minimum bin width for the phase histogram. Larger widths will be used for low photon
# count pixels (number)
bin_width = 2

# ignore photons which arrive this many microseconds from another photon (number)
dt = 200

# do the histogram fit using more than one core (True/False)
parallel = True

[Output]
# This section controls the behavior of the outputs.

# directory to the folder for outputs (string)
out_directory = '/mnt/data0/nzobrist/WaveCalTesting/20171004'

# save plots of histogram fit results. This option slows down computation considerably.
# Only use it on small numbers of pixels for fit debugging (True/False)
save_plots = False

# save histogram fit plots to file name (string)
plot_file_name = 'wavelength_fits.pdf'

# save summary plot (True/False)
summary_plot = True

# templar configuration file for the run. Needed for the summary plot to work. (string)
templar_config = '/mnt/data0/Darkness/20171004/templarconf.cfg'

# print fitting progress to the terminal (True/False)
verbose = True

# save fitting info to a log file stored in logs folder in out_directory (True/False)
logging = True
