[Data]
# This section provides the location and description of the FlatCal data being processed.

#Wavecal Solution Directory Path + File (To be used in plotting)   
wvlCalFile = '' 

#Flat File path. Path to the flat file or place where the flat file and calsol should be written
h5directory = ''

# file name of the flat (string, value ignored if making h5 files or scripts)
file_name = 'f1.h5'

#Integration time to break up larger h5 files into in seconds (number) (5 sec recommended)
#Flatcal will calculate weights over EXPTIME/INTTIME time chunks and median-average them
intTime= 30

#Total exposure time (number)   
expTime=30

# flat start time (values ignored if not making h5)
startTime = 1530100392

# xpix (integer, value ignored if not making h5)
xpix = 140

# ypix (integer, value ignored if not making h5)
ypix = 146

# directory to the folder with the bin data (string, value ignored if not making h5)
dataDir = "/mnt/data0/ScienceData/Subaru/20180626/"

# directory to the folder with the beammap (string, value ignored if not making h5)
beamDir = "/mnt/data0/MEC/20180624/finalMap_20180622.txt"

[Instrument]
#This section provides information about the specific wavelength and energy parameters for this instrument   

#deadtime (number)  
deadtime=0.000001

#Energy bin width in eV  (number)   
energyBinWidth = 0.0100000

#Starting Wavelength in nanometers (number)   
wvlStart = 700 

#Final Wavelength in nanometers (number)   
wvlStop = 1500 

[Calibration]
#This section provides the parameters specific to the flat calibration function

#Count Rate Cutoff in seconds (number)   
countRateCutoff = 20000

#Fraction of Chunks to trim (integer)   
fractionOfChunksToTrim = 0

[Output]
#This section provides the parameters for the flat calibration output

# directory to the folder for outputs (string)
out_directory=''

# print progress to the terminal (True/False)
verbose = True

# save diagnostic plots (True/False) (Will add ~30 min to the process!)
save_plots = True

# save summary plot (True/False)
summary_plot = True

# Perform Logging
logging = True